.search {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.search__wrapper {
  position: relative;
  display: flex;
  flex: 1;
}

.search__wrapper img {
  position: absolute;
  left: 10px;
  top: 50%;
  height: 24px;
  width: 24px;
  transform: translateY(-50%);
}

.search__input {
  flex: 1;
  padding: 15px 30px 15px 50px;
  border: none;
  border-radius: 5px;
  background: #dedede;
  color: #252525;
}

.search button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background: var(--black);
  cursor: pointer;
}
